.headerbox {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}

.headerbox li {
    padding: 0 5px;
}

.headers li {
    color: mediumpurple;
}

.selectedHeader {
    background: mediumpurple;
    color: #ffffff;
}

.error {
    font-size:0.6em;
    color:red;
}