.headerbox {
    align-items: left;
    display: flex;
    list-style: none;
    text-decoration: underline;
    text-transform: capitalize;
    width: 100%;
}

.headerbox li {
    padding: 0 5px;
}

.header {
    color: #7f7f7f;
}

.selectedHeader {
    background: mediumpurple;
    color: #ffffff;
}

.error {
    color:red;
    font-size:0.6em;
}