body {
    font: normal 14px sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.App-title {
    text-align: left;
    background: mediumpurple;
    color:#ffffff;
    padding-left: 20px;
}

.App-container {
    display: block;
}

.App-left {
    width: 56%;
    float: left;
}

.App-right {
    font-size: 0.9rem;
    width: 30%;
    padding: 2%;
    text-align: left;
    float: right;
}